# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store

.coverage
htmlcov/